header {
  background: seashell;
  font-family: "Noto Sans";
  font-variant: small-caps;
  font-size: 30px;
}
h1{
  font-align: left;
}
main {
  padding-right: 10em;
  padding-left; 10em;
}
img {
  float: left;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}
